database/toxins.db
toxinas/



database/*.db


data/pdb_raw/

data/processed/
data/processed/*.csv
data/processed/*.json
pdbs/*.pdb
psfs/*.psf
processed/*.json

__pycache__/
*.pyc


.env


*.tmp

*.xml
*.json
