#viewer {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden; /* Esto evita que el contenido se desborde */
    margin-top: 20px;
}

.msp-layout-standard {
    position: relative !important;
    height: 100% !important;
}

select {
    margin: 0 10px;
    padding: 5px;
}

.msp-viewport-expanded {
    position: relative !important;
}

